/* .navbar-light .navbar-nav .nav-link.active-link{
    color: var(--secondary-color);
    box-sizing: content-box;
    background-color: #FFC700;
    
    border: #FFC700;
} */
/* .navbar-light .navbar-nav .nav-link{
   
    color: var(--primary-color);
    
} */
.navbar {
   /* background: linear-gradient(180deg, #346CFE 100%, #1D9CE7 100%) ; */
   background: #336DFD;
}
/* .header{
    position: relative;
    width: 100%;
} */
/* .header-inner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: transparent;
} */

.navbar-scroll{
    background-color: #ffffff;
    padding: 0;
    position: fixed;
    top:0;
    z-index: 99;
    box-shadow:0px 1px 10px rgba(0,0,0,0.4);
    transition-duration: 0.6s; }
    
    .navbar-scroll .nav-item .nav-link{
        color: black;
    }

 @media only screen and (min-width:1200px){
            .nav-item > .nav-link{
                padding: 5px 20px !important;
                display: block !important;
            }
        }
        
        @media only screen and (max-width:992px){
            .navbar-nav
            {
                background-color: white!important;
            }
            .nav-item > .nav-link{
                color: black!important}
        }
                
    
    

