<!-- <header class="header">
<div class="header-inner">
  <div class="container-fluid px-lg-5">
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">AIRX...</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"> HOME </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="services" routerLinkActive="active-link"> OUR SERVICES </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="workwithus" routerLinkActive="active-link"> WORK WITH US </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about" routerLinkActive="active-link"> ABOUT US </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact" routerLinkActive="active-link"> CONTACT US </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </div>
</div>
</header> -->

<!-- Navbar  -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
  <div class="container">
    <a class="navbar-brand" href="#">AIRX...</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="mx-auto"></div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"> HOME </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="services" routerLinkActive="active-link"> OUR SERVICES </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="workwithus" routerLinkActive="active-link"> WORK WITH US </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  text-white" routerLink="about" routerLinkActive="active-link"> ABOUT US </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="contact" routerLinkActive="active-link"> CONTACT US </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
