<!-- <footer>
    <div class="main-content">
        <div class="left box">
            <img src="assets/img/logo-12.png" class="logo">
            <div class="content">
                <p>AirX focuses on providing valuable services with a motive to 
                    organize and facilitate the movement of freight, by connecting 
                    the right shipper to the right carrier from anywhere, efficiently 
                    with expertise & integrity that drive the success of 
                    our shippers and carriers.</p>
                <div class="social">
                        <a href = "#" ><i class="bi bi-facebook"></i></a>
                        <a href = "#" ><i class="bi bi-instagram"></i></a>
                        <a href = "#" ><i class="bi bi-linkedin"></i></a>
                        <a href = "#" ><i class="bi bi-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="center box">
            <h2>Quick Links</h2>
            <div class="content">
            <ul>
                <li><a class="h" routerLink="">Home</a></li>
                <li><a class="h"  routerLink="about">About Us</a></li>
                <li><a  class="h" routerLink="workwithus">Work With Us</a></li>
                <li><a  class="h" routerLink="contact">Contact Us</a></li>
            </ul>
            </div>
        </div>
        <div class="center2 box">
            <h2>Services</h2>
            <div class="content">
            <ul>
                <li><a class="h" href="#">Full Truckload Less</a></li>
                <li><a class="h" href="#">Than Truckload</a></li>
                <li><a class="h" href="#">Refrigerated Freight</a></li>
                <li><a class="h" href="#">Dry Van</a></li>
            </ul>
            </div>
        </div>
        <div class="right box">
              <h2 class="us">Contact With us</h2>
              <div class="content">
                  <div class="place">
                      <span><i class="bi bi-send-fill"></i></span>
                      <span class="text1">318 White Lane, Bakersfield,California, 93307</span>
                  </div>
                  <div class="phone">
                    <span><i class="bi bi-telephone-fill"></i></span>
                    <span class="text">8004780690</span>
                </div>
                <div class="email">
                    <span><i class="bi bi-envelope-fill"></i></span>
                    <span class="text">info@airxco.us</span>
                </div>
              </div>
        </div>
    </div>
    <div  class="footer-bottom">
           <p>All Right Reserved by &copy; AIRX 2022</p>
    </div>
</footer> -->

<footer class="text-black pt-5 pb-4">

	<div class="container text-center text-md-left">

		<div class="row text-center text-md-left">

			<div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 social">
				<img src="assets/img/logo-12.png" class="logo  mb-4">
				<p>AirX focuses on providing valuable services with a motive to 
                    organize and facilitate the movement of freight, by connecting 
                    the right shipper to the right carrier from anywhere, efficiently 
                    with expertise & integrity that drive the success of 
                    our shippers and carriers.</p>
                    <a href = "#" ><i class="bi bi-facebook"></i></a>
                    <a href = "#" ><i class="bi bi-instagram"></i></a>
                    <a href = "#" ><i class="bi bi-linkedin"></i></a>
                    <a href = "#" ><i class="bi bi-twitter"></i></a> 
				
			</div>

			<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
				<h5 class="mb-4 font-weight-bold">Quick Links</h5><br>
			<p>
				<a href="#" class="text-black" style="text-decoration: none;"> Home</a>
			</p>
			<p>
				<a href="#" class="text-black" style="text-decoration: none;"> About Us</a>
			</p>
			<p>
				<a href="#" class="text-black" style="text-decoration: none;"> Work With Us</a>
			</p>
			<p>
				<a href="#" class="text-black" style="text-decoration: none;"> Contact Us</a>
			</p>

			</div>

			<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
				<h5 class="mb-4 font-weight-bold">Services</h5><br>
			<p>
				<a href="#" class="text-black" style="text-decoration: none;"> Full Truckload Less</a>
			</p>
			<p>
				<a href="#" class="text-black" style="text-decoration: none;"> Than Truckload</a>
			</p>
			<p>
				<a href="#" class="text-black" style="text-decoration: none;"> Refrigerated Freight</a>
			</p>
			<p>
				<a href="#" class="text-black" style="text-decoration: none;"> Dry Van</a>
			</p>
			</div>

			<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
				<h5 class="mb-4 font-weight-bold"  >Contact With us</h5><br>
				<p>
					<i class="bi bi-send-fill mr-3" style="color:#346CFE;"></i>318 White Lane, Bakersfield,California, 93307S
				</p>
				<p>
					<i  class="bi bi-telephone-fill  mr-3" style="color:#781BFF;"></i>+91 8004780690
				</p>
				<p>
					<i class="bi bi-envelope-fill  mr-3" style="color:#FD4C5C;"></i>info@airxco.us
				</p>
			</div>
			
		</div>

		<hr class="mb-4">

		<div class="row align-items-center">

			<div class="col-md-7 col-lg-8">
				<p style="font-size: 10px;" class="text-muted">This site and all content is ©2021 AIRX. 
					<a href="#" style="text-decoration: none; font-size: 10px;">
						<strong class="text-muted">The AIRX Logo, content or images may not be used or reproduced by any means without express, written consent.</strong>
					</a></p>
				
			</div>

			<div class="col-md-5 col-lg-4">
				<div class="text-center text-md-right">

					<ul class="list-unstyled list-inline">
						<li class="list-inline-item">
							<a href="#" class="text-muted" style="font-size: 12px; text-decoration: none;">Privacy Policy</a>
						</li>
						<li class="list-inline-item">
							<a href="#" class="text-muted btn-sm" style="font-size: 12px; text-decoration: none;"> Cookies Settings</a>
						</li>
					</ul>
					
				</div>
				
			</div>
			
		</div>

	</div>
	
</footer>
