<section class="home">
    <img src="/assets/img/Hero BG.jpg" class="img-fluid Hero">

    <div class="homecontent">
        <h1>ONE STOP SOLUTION For Your Service</h1>
        <h4>Discover a better way of shipping</h4>
        <a href="#" class="but">Get A Quote</a><br><br>
        <a href="#" class="but1"><i class="bi bi-caret-right-fill"></i>Watch Our Video</a>
    </div>
</section>
<div class="fram1">
    <!-- <img src="/assets/img/Frame 1.png" class="img-fluid"> -->
</div>
<div id="us">
    <div class="text">
        <h3 class="set">About Us</h3>
        <h2 class="title">Your Shipment,<br>
            Our Responsibility.</h2>
        <p>AirX.Us focuses on providing valuable services with a motive to organize and facilitate
            the movement of freight, by connecting the right shipper to the right carrier
            from anywhere, efficiently with expertise & integrity that drive the
            success of our shippers and carriers.</p>
        <a href="#" class="button">Know More</a>
    </div>
    <div class="img">
        <img src="/assets/img/About us Right-img.png" class="right-img">
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3 class="set">About Us</h3>
            <h2 class="title">Your Shipment,<br>
                Our Responsibility.</h2>
            <p>AirX.Us focuses on providing valuable services with a motive to organize and facilitate
                the movement of freight, by connecting the right shipper to the right carrier
                from anywhere, efficiently with expertise & integrity that drive the
                success of our shippers and carriers.</p>
            <a href="#" class="button">Know More</a>

        </div>

        <div class="col-md-6">        <img src="/assets/img/About us Right-img.png" class="img-fluid">
        </div>

    </div>
</div>
